<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lego Thingy</title>
		<%include ./partials/style.ejs%>
	</head>
	<body>
		<%include ./partials/header.ejs%>
		<div style="margin-top:100px;"><% include partials/alerts %><div>
		<div style="margin-top:100px;"><%- body %><div>
		<% include ./partials/links.ejs%>
	</body>
</html>