
<h1 class="text-center">Search</h1>
<div class="container">
<form method="get" action="/results" class="text-center" style="width:400px;float:none;margin:0 auto;">
<br>
<label class="h1" for="search"></label><br>
	<input type="search" name="searchTerm">
	<input type="submit">
</form>
<div>