<h1 class="text-center">Profile</h1>
<h2 class="text-center">Name: <%- JSON.stringify(currentUser.name) %></h2>
<h3 class="text-center">Email: <%- JSON.stringify(currentUser.email) %></h3>
<br><br>
<!-- <div class= "col-xs-5 col-xs-offset-1"><h1>Own</h1>
//for each object in the db.userset that has matching user.id, list descr and user setID for link and image.
</div> -->
<div class= "col-xs-5 col-xs-offset-3">
<h1>Wishlist</h1>
</div>
